<h2>
    <a href="{{ path('job_show') }}" class="title">
        {{ announcement.title }}
    </a>
</h2>

<div class="details">
    <span class="filter">
        <a href="#">{{ announcement.city }}, {{ announcement.country|country_name }}</a> /
        <a href="#">{{ announcement.contractType }}</a>
        {% if announcement.id %}
        <br/><span class="archived">Archived since 12/12/2013</span>
        {% endif %}
    </span>
</div>

<span class="company">@&nbsp; {{ announcement.company }}</span>
