{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'manage' %}

{% block title 'My jobs' %}

{% block content %}
    {{ breadcrumb({
        ('My Jobs'): path('manage'),
    }) }}

    {% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
        {% block box_content %}
            <div class="padding-table">
                <h2 class="big-title">My jobs</h2>
                <a href="{{ path('job_post') }}" class="add right"><img class="sprite-button-add-focus-grey-bg" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}" alt="+" /> Post a job </a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="span5"> Title </th>
                        <th class="span2"> Time left </th>
                        <th class="span2"> Displays </th>
                        <th class="span4"> Actions </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if announcements|length == 0 %}
                    <tr><td colspan="5"> You have no jobs. </td></tr>

                    {% else %}
                        {% for announcement in announcements %}
                            <tr>
                                <td>
                                    <a href="{{ path('job_preview', announcement.urlParameters) }}">
                                        {{ announcement.contractType }} in {{ announcement.city }} &mdash; {{ announcement.title }}
                                    </a>
                                </td>

                                <td class="warn"> {{ announcement.valid ? '' : 'Waiting payment'}} </td>

                                <td> {{ announcement.viewsCount }} </td>

                                <td class="action">
                                    <a href="{{ path('job_pay', announcement.urlParameters) }}">Pay</a> /

                                    <a href="{{ path('job_update', announcement.urlParameters) }}"> Make changes </a> /

                                    <a href="{{ path('job_delete', announcement.urlParameters) }}"> Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                {{ knp_pagination_render(announcements) }}
                <div class="clear"></div>
            </div>
        {% endblock%}
        {% block box_clear %}
        {% endblock %}
    {% endembed %}
    <div class="clear"></div>
{% endblock %}
