{% extends "SensioLabsJobBoardBundle:Backend:layout.html.twig" %}

{% block title 'Backend - List' %}

{% block content %}
    <ul id="breadcrumb">
            <li class="active">
                <a href="{{ path('backend_list') }}">Published ads</a> |
            </li>
            <li>
                <a href="#">Archived ads</a> |
            </li>
            <li>
                <a href="#">Deleted ads</a>
            </li>
    </ul>

    {% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
        {% block box_content %}
            <div class="padding-table">
                <div id="backend-job-container">
                    <!--
                    <ul class="backend-flashes">
                        <li class="error">Example of an error message</li>
                        <li class="success">Example of an error message</li>
                    </ul>
                    -->
                    <h2 class="big-title">Published ads</h2>

                    <table class="table table-striped backend-list">
                        <thead>
                            <tr>
                                <th>
                                    {{ knp_pagination_sortable(announcements, 'Company', 'a.company') }}
                                    {% if announcements.isSorted('a.company') %}<span class="sorted sorted-{{ announcements.direction }}"></span>{% endif %}
                                    <!--<a href="#"> Company </a> ▼-->
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(announcements, 'Title', 'a.title') }}
                                    {% if announcements.isSorted('a.title') %}<span class="sorted sorted-{{ announcements.direction }}"></span>{% endif %}
                                    <!--<a href="#"> Title </a> ▲-->
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(announcements, 'CreatedAt', 'a.createdAt') }}
                                    {% if announcements.isSorted('a.createdAt') %}<span class="sorted sorted-{{ announcements.direction }}"></span>{% endif %}
                                    <!--<a href="#"> CreatedAt </a>-->
                                </th>
                                <th>List Displays</th>
                                <th>View Displays</th>
                                <th>Ext Displays</th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for announcement in announcements %}
                                <tr>
                                    <td> {{ announcement.company }} </td>
                                    <td> {{ announcement.title }} </td>
                                    <td> {{ announcement.createdAt|date('d/m/Y') }} </td>
                                    <td> {{ announcement.listViewsCount }} </td>
                                    <td> {{ announcement.detailViewsCount }} </td>
                                    <td> 0{#{{ announcement.apiViewsCount }}#} </td>
                                    <td>
                                        <a href="{{ path('backend_edit', {'id': announcement.id}) }}"> Edit </a>
                                        <a href="{{ path('backend_delete', {'id': announcement.id}) }}"> Delete </a>
                                        <!--<button> Delete </button>-->
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {{ knp_pagination_render(announcements, 'SensioLabsJobBoardBundle:Backend:sliding_pagination.html.twig') }}
                </div>
                <div class="clear"></div>
            </div>

            {% block box_clear '' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
